<footer class="border-top footer text-muted py-2">
    <div class="container">
        &copy; @DateTime.UtcNow.Year - Simple Wallet  <span style="font-size: 0.9rem">by <a href="http://www.luischicas.com">Luis Chicas</a></span>
    </div>
</footer>