@model EasyWalletWeb.ViewModels.ReportsMonthly

@section Styles
    {
    <link rel="stylesheet" href="~/css/reports.css" />
}

<div class="ew-navbar shadow-sm d-flex align-items-center p-4 px-5">
    <img src="~/images/logo.png" class="mr-3" width="35" height="30" />
    <h4 class="my-0 mr-4" style="color:white">Easy Wallet</h4>
    <a asp-controller="Wallet" asp-action="Index" class="p-2 mr-2 text-light">Home</a>
    <a asp-controller="Categories" asp-action="Index" class="p-2 mr-2 text-light">Categories</a>
    <a asp-controller="Wallet" asp-action="Reports" class="p-2 mr-auto text-light">Reports</a>
    <a id="logout" asp-controller="Auth" asp-action="Logout" class="p-2 text-light">Log out</a>
</div>

<div class="reports-navbar shadow-sm">
    <div class="reports-navbar-subcontainer mx-auto">
        <a asp-action="History" class="p-2">History</a>
        <a asp-action="Monthly" class="p-2 reports-navbar-selected">Monthly</a>
        <a asp-action="MonthlyDetailed" class="p-2">Monthly (detailed)</a>
    </div>
</div>

<div class="reports-main-container pb-4">
    <div class="reports-container" style="margin-top: -10px">
        @foreach (var item in Model.Spends)
        {
            <h4 class="history-month mb-4">@item.Month.ToString("MMMM yyyy")</h4>

            <table class="table">
                <tbody>
                    @foreach (var spend in item.SpendsByCategory)
                    {
                        <tr>
                            <td>@spend.Key</td>
                            <td>@spend.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>