@model EasyWalletWeb.ViewModels.WalletEntry

@{
    ViewData["Title"] = "Home";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/wallet.css" />
}

<partial name="NavBar" />

<div class="wallet-container">
    @using (Html.BeginForm("Entry", "Wallet", FormMethod.Post, new { @class = "spend-form text-center" }))
    {
        <h1 class="h3 mb-4 font-weight-normal">Enter a expense</h1>

        @if (!string.IsNullOrEmpty(Model?.Entry))
        {
            @Html.ValidationSummary("", new { @class = "alert alert-danger" })
        }

        <div class="input-group">
            <input type="text" id="Entry" name="Entry" class="form-control" value="@Model?.Entry" placeholder="Write a tag and an amount. i.e.: 'Super Market $20'" required>
            <label for="inputSpend" class="sr-only">Spend</label>
            <div class="input-group-append">
                <button class="btn btn-primary btn-block" type="submit">Add</button>
            </div>
        </div>
        <input type="date" id="Date" name="Date" class="entry-date form-control mt-4" value="@DateTime.Now.ToString("yyyy-MM-dd")" required>
    }
</div>

<partial name="Footer" />

@section Scripts
    {
    <script src="~/js/logout.js"></script>
}
