
<div class="ew-navbar shadow-sm d-flex align-items-center p-2 px-5">
    <a asp-route="home"><img src="~/images/logo.png" class="mr-3" width="35" height="30" /></a>
    <h4 class="my-0 mr-auto" style="color:white">Easy Wallet</h4>
    <span class="mr-2 text-light">Already have an account?</span>
    <a asp-route="login" class="btn btn-light">Login</a>
</div>

<div class="login-container">
    <form class="form-auth form-signup text-center">
        <img class="mb-4" src="~/images/logo.png" alt="logo" width="76" height="60">
        <h1 class="h3 mb-4 font-weight-normal">Sign up</h1>
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="inputName" class="form-control" placeholder="Name (optional)" autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputRepeatPassword" class="sr-only">Repeat Password</label>
        <input type="password" id="inputRepeatPassword" class="form-control" placeholder="Repeat password" required>
        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Sign up</button>
    </form>
</div>
