@{
    ViewData["Title"] = "Home Page";
}

<div class="ew-navbar shadow-sm d-flex align-items-center p-2 px-5">
    <img scr="~/images/logo.png" class="mr-2" width="30" height="30">
    <h4 class="my-0 mr-auto" style="color:white">Easy Wallet</h4>
    <a href="login.html" class="p-2 mr-2 text-light">Sign In</a>
    <a class="btn btn-light">Sign Up</a>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
