@{
    ViewData["Title"] = "Home Page";
}

<div class="ew-navbar shadow-sm d-flex align-items-center p-2 px-5">
    <img src="~/images/logo.png" class="mr-3" width="35" height="30"/>
    <h4 class="my-0 mr-auto" style="color:white">Easy Wallet</h4>
    <a asp-route="login" class="p-2 mr-2 text-light">Log in</a>
    <a asp-route="signup" class="btn btn-light">Sign Up</a>
</div>
