.balance-container {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.balance-title {
    color: #555;
}

.balance-title-container {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    align-items: center;
}

.balance-month {
    color: #AAA;
    font-weight: 400;
}
