.sw-navbar {
    background-color: #15157D;
    flex-shrink: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: margin-bottom .5s;
}

.sw-navbar i {
    color: white;
    font-size: 1.6rem;
    padding: 0.5rem;
    margin: -0.5rem;
    transition: opacity .5s;
}

.sw-navbar #menu-btn {
    z-index: 2;
}

.sw-navbar #menu-close-btn {
    margin-left: -1.9rem;
    opacity: 0;
}

.sw-navbar-mobile-extra {
    height: 0;
    width: 100%;
    z-index: 1;
    left: 0;
    background-color: #D1D1E0;
    overflow-y: hidden;
    transition: 0.5s;
}

.sw-navbar-mobile {
    display: flex;
}

.sw-navbar-mobile-btn {
    display: block;
    width: 50%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #8282B0;
    background-color: #81AAD6;
    opacity: 0.8;
}

.sw-navbar-mobile-btn:visited {
    text-decoration: none;
    color: white;
}

.sw-navbar-mobile-btn:active {
    text-decoration: none;
    color: white;
    background-color: #618AB6;
}

.sw-navbar-mobile-extra div {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
}

.sw-navbar-mobile-extra div a {
    font-size: 1.2rem;
}

.sw-navbar-mobile-extra div #logout {
    font-size: 1rem !important;
}

@media only screen and (min-width: 426px) {
    [class~="sw-navbar"] {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    .mobile-only {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .not-mobile-only {
        display: none;
    }
}


/* ----------------------------------------------------------------------- */


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
